<h1>New Shelf</h1>

<%= form_with scope: :shelf, url: shelfs_path, local: true do |form| %>
    <% if @shelf.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@shelf.errors.count, "error") %>
                prohibited this shelf from being saved:
            </h2>
            <ul>
                <% @shelf.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= form.label :mainbeacon %><br>
        <%= form.text_field :mainbeacon %>
    </p>

    <p>
        <%= form.label :beacon1 %><br>
        <%= form.text_field :beacon1 %>
    </p>

    <p>
        <%= form.label :beacon2 %><br>
        <%= form.text_field :beacon2 %>
    </p>

    <p>
        <%= form.label :beacon3 %><br>
        <%= form.text_field :beacon3 %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', shelfs_path %>