<p>
    <strong>Main beacon:</strong>
    <%= @shelf.mainbeacon %>
</p>

<p>
    <strong>Beacon 1</strong>
    <%= @shelf.beacon1 %>
</p>

<p>
    <strong>Beacon 2</strong>
    <%= @shelf.beacon1 %>
</p>

<p>
    <strong>Beacon 3</strong>
    <%= @shelf.beacon1 %>
</p>

<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelfs_path %>