<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>
<p>
  <strong>readingskill:</strong>
  <%= @book.readingskill %>
</p>
<p>
  <strong>category:</strong>
  <%= @book.category %>
</p>
<p>
  <strong>fact:</strong>
  <%= @book.fact %>
</p>